section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    background-color: rgb(192 59 245);
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    border-radius: 15px;
    border: 2px rgb(250, 250, 250) solid;
    padding: 60px 20px;
}
section p{
}
section h1{
    color: rgb(250, 250, 250);
    padding: 0px;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section .joke{
    color: rgb(255 255 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 30px;
}
section button{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    border-radius: 20px;
    border: 0px none;
    background-color: rgb(106, 27, 154);
    box-shadow: 2px inset black;
    border: 2px solid #e5e5e5;
    color:white;
    margin-top: 10px;
}
section button:hover{
    transform: scale(0.9,0.9);
    transition: 100ms;
}
section button:active{
    background-color: #4FC3F7;
}