.search{
    width: 20px;
    height: 20px;
    padding: 2px;
}
.search-button{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    background-color: black;
}
.search-input{
    transition: 1s ease;
    border: 1px solid black;
    padding: 0 5px;
    height: 30px;
    width: 1px;
    visibility: hidden;
    margin: 0px;
}
section{
    height: fit-content;
}
.whole{
    margin: auto;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.show{
    visibility: visible;
    width: 200px;
}
.new-search-button{
    position: relative;
    padding: 0px;
    width: 25px;
    background-color: cornsilk;
    border: 0px none;
}
.new-input{
    height: 20px;
    width: 200px;
    transition: 0.7s;
    border: 0px none;
}
.block{
    display:inline-flex;
    position:absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button-image{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hide{
    width: 0px;
    visibility: hidden;
}