.other-container{
    margin:0 auto;
    width: fit-content;
    display: flex;
}
section{
    width: 1000px;
    margin: 0 auto;
}
.card{
    margin: 20px 10px;
    width: 100px;
    height: 400px;
    background-color: orange;
    animation: normal;
    transition: 1s;
}
.expand{
    width: 400px;
}